doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title   
    style.
        body {
            font-family: Verdana;
            font-size: 15px;
            background: #6777F0;
        }
  body
    .container
      block content
  