extends layout

block content
    h1=title
    p
        a(href="../" class="btn btn-default btn-xs") Home
    
    p=removed
    table(class="table")
        thead   
            tr
                th firstName
                th lastName
                th department
                th startDate
                th jobTitle
                th salary
        tbody
        - each stuff in results
            tr
                td 
                    = stuff.firstName
                td 
                    = stuff.lastName
                td 
                    = stuff.department
                td 
                    = stuff.startDate
                td
                    = stuff.jobTitle
                td
                    = stuff.salary
                td
                    a(href="../update/#{stuff._id}" class="btn btn-secondary btn-sm" style="background: #6CF0AF") Update
                td
                    a(href="../view/#{stuff._id}" class="btn btn-secondary btn-sm" style="background: #6CF0AF") Delete