extends layout

block content
    h1= title

    p
        a(href="./") Home
    p
        a(href="./form") Form
    p
        a(href="./about") About

    p Spicy jalapeno corned beef bresaola ham hock cow, shankle prosciutto doner meatball. Spare ribs tri-tip ground round swine doner salami hamburger meatloaf venison andouille meatball              drumstick tenderloin. Filet mignon salami hamburger, swine brisket t-bone leberkas doner picanha tongue ground round bresaola drumstick kielbasa. Strip steak ham jerky shank pork fatback.

    img(src="img/baconburger.jpg")