extends layout

block content
    h1= title
    p Welcome to #{title}
    
    p
        a(href="./") Home
    p
        a(href="./form") Form
    p
        a(href="./about") About
    p Spicy jalapeno bacon ipsum dolor amet tri-tip swine salami, filet mignon spare ribs pork chop strip steak landjaeger shoulder burgdoggen ribeye ham. Short loin kevin ham fatback. Bacon cupim fatback, pork belly salami t-bone ground round chuck biltong beef pig alcatra strip steak turducken rump. Tongue jerky capicola pork chop brisket spare ribs picanha. Drumstick ground round burgdoggen sausage kevin shank porchetta ham prosciutto cupim jowl. Burgdoggen hamburger turkey fatback picanha tri-tip alcatra jerky ground round biltong boudin shank frankfurter ham hock.