extends layout

block content
    h1=title
    p
        a(href="./") Home
    p
        a(href="./form") Form
    p   
        a(href="./about") About

    p
        strong Name: #{name}
    p
        strong Email: #{email}
    p
        strong Comments: #{comments}
    
    
    
   